{% set id = random(1234) %}

<div class="paragraph paragraph--full">
	<div
		class="container px-0">

		{# gradient should be one of left-bottom, left-top, right-bottom, right-top, center #}

		<section 
      class="mega-cta mega-cta--admissions-home mega-cta--image{{pin ? '-' ~ pin : '-bottom-left'}}" aria-labelledby="midd-mega-cta-label-{{id}}">
				<figure class="mega-cta__back">
          {% include 'partials/img.twig' with {
            name: image ?? 'spotlight'
          } %}
				</figure>

			<div class="mega-cta__front {% if gradient %} mega-cta--gradient-{{gradient}} {% endif %}">
				<div class="{% if gradient %} mega-cta__content mega-cta__content-position mega-cta__content-position-{{gradient}} {% else %} mega-cta__content {% endif %}">
					{% if title %}
            <h1 class="font-sans-serif">
              <span class="f4 font-bold mb-5">Admissions & Financial Aid</span>
              <span
                class="border-dual-text-shadow mb-6" 
                id="midd-mega-cta-label-{{id}}"
                style=" --text-color: {{text_color}}; --text-shadow-color-primary: {{text_shadow_color_primary}}; --text-shadow-color-secondary: {{text_shadow_color_secondary}};"
              >
              {{title}}
              </span>
            </h1>
					{% endif %}
            {% for link in ['Apply now', 'Visit Middlebury', 'Explore Financial Aid'] %}
					    <a class="button button--primary button--light font-semibold text-uppercase {{loop.last ? "" : "mr-2"}}" href="">{{link}}</a>
            {% endfor %}
				</div>
			</div>
		</section>

	</div>
</div>
