{% set j_term_badge = '<span class="badge badge--primary badge--no-outline p-0">j-term</span>' %}

<div class="paragraph--curriculum">
  <div class="curriculum__rows" role="tablist">
    <div class="curriculum__row curriculum__row--header">
      <div class="curriculum__cell">Course</div>
      <div class="curriculum__cell">Fall 25</div>
      <div class="curriculum__cell">Spring 26</div>
      <div class="curriculum__cell">Fall 26</div>
      <div class="curriculum__cell">Spring 27</div>
    </div>

    {% for item in miis_curriculum %}

      {% set id = random(1234) %}

      <div class="curriculum__row accordion-item js-accordion-item-{{id}}">
        <div class="curriculum__cell">
          <a 
            href="#midd-accordion-item-label-{{id}}"
            class="accordion-item__link"
            data-toggle-target=".js-accordion-item-{{id}}"
            aria-expanded="false"
            aria-controls="midd-accordion-content-{{id}}"
            aria-labelledby="midd-accordion-item-label-{{id}}"
            role="tab">
            <div class="sr-only">Course</div>
            {% include 'partials/icon.twig' with { name: 'caret-right', class: 'accordion-item__icon mx-2' } %}
            <h3 class="curriculum__cell-title">{{item.course_number}}: {{item.title}}</h3>
          </a>
            
          <dl class="f2 pt-3 pl-5 d-md-none curriculum__table-data-sm">
            <dt class="font-semibold">Offered in:</dt>
            <dd>
              {% for label in item.semester %}
                {% if label.value %}
                  {% if label.value == 'j-term' %}
                    <span>{{label.label}} ({{label.value}})</span>
                  {% else %}
                    <span>{{label.label}}</span>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </dd>
          </dl>
        </div>
        {% for data in item.semester %}
          <div class="curriculum__cell">
            <div class="sr-only">{{data.label}}</div>
            {% if data.value == 'j-term' %}
              {{j_term_badge}}
            {% else %}
              {% if data.value %}
                <span class="curriculum__cell--checkmark">
                  {% include 'partials/icon.twig' with {
                    name: 'check'
                  } %}
                </span>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
        <div class="accordion-item__content--column" id="midd-accordion-content-{{id}}" role="tabpanel" aria-labelledby="midd-accordion-item-label-{{id}}">
          <h4 class="accordion-item__sub-title">Course Description</h4>
          <div class="typography">
            {{item.content}}
          </div>
          {% if item.terms %}
            <h4 class="accordion-item__sub-title">Terms Taught</h4>
            <div class="typography">
              {{item.terms}}
            </div>
          {% endif %}
          {% if item.requirements %}
            <h4 class="accordion-item__sub-title">Requirements</h4>
            <div class="typography">
              {{item.requirements}}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>