{% set current_badge = '<span class="badge badge--primary badge--outline ml-2">Current</span>' %}
{% set upcoming_badge = '<span class="badge badge--primary badge--outline ml-2">Upcoming</span>' %}
{% set id = random(1234) %}

{% set course_items = [
  {
    course_number: 'biol 0140',
    current: true,
    upcoming: true,
    title: 'Ecology and Evolution',
    content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    terms: '<p>Spring 2017, Spring 2019, Spring 2020, Spring 2021</p>',
    requirements: '<p>DED, SCI</p>'
  },
  {
    course_number: 'biol 0140',
    current: false,
    upcoming: false,
    title: 'Film and Television, from Apocolipse Now to the Simpsons',
    content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    terms: '<p>Spring 2017, Spring 2019, Spring 2020, Spring 2021</p>',
  },
  {
    course_number: 'biol 0140',
    current: true,
    upcoming: false,
    title: 'Biology of Plants Growing in the Forest',
    content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    terms: '<p>Spring 2017, Spring 2019, Spring 2020, Spring 2021</p>',
    requirements: '<p>DED, SCI</p>'
  },
  {
    course_number: 'biol 0140',
    current: false,
    upcoming: true,
    title: 'Tropical Ecology and how reefs grow',
    content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>',
    requirements: '<p>DED, SCI</p>'
  },
  {
    course_number: 'biol 0140',
    current: false,
    upcoming: false,
    title: 'Teaching Literature from Around the World',
    content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>'
  }
] %}

{% embed 'partials/accordion.twig' with {
  class: 'accordion--table my-9',
  items: course_items,
  table: true,
  column: true
} %}
  {% block label %}
    <span id="midd-accordion-item-label-{{id}}">
      <p class="accordion-item__label"><span style="text-transform:uppercase;">{{item.course_number}}</span> {{item.title}}</p>
    </span>
  {% endblock %}
  {% block content %}
    <p class="accordion-item__sub-title">Course Description</p>
    <div class="typography">
      {{item.content}}
    </div>
    {% if item.terms %}
      <p class="accordion-item__sub-title">Terms Taught</p>
      <div class="typography">
        {{item.terms}}
      </div>
    {% endif %}
    {% if item.requirements %}
      <p class="accordion-item__sub-title">Requirements</p>
      <div class="typography">
        {{item.requirements}}
      </div>
    {% endif %}
  {% endblock %}
{% endembed %}
