{% set id = random(1234) %}
<div class="paragraph paragraph--full">
	<div
		class="container px-0">

		{# alignment should be one of left-bottom, left-top, right-bottom, right-top, center #}

		<section class="mega-cta mega-cta--image-{{pin ? pin : 'bottom-left'}} {% if hero %} mega-cta--hero{% endif %}{% if blse %} mega-cta--blse{% endif %}" aria-labelledby="midd-mega-cta-label-{{id}}">
			<figure class="mega-cta__back {% if gradient %} mega-cta__back-gradient {% endif %}">
				{% if miis %}
					<img data-original-image-width="1500" data-original-image-height="1000" srcset="https://saw.middlebury.edu/~imcbride/institute-redesign/sites/www.middlebury.edu.institute/files/styles/400x225/public/2021-08/carlos-colon-NPTS-2019_helping-other-student_computer-lab_1500x1000.JPG?fv=QClXNARD&amp;itok=l6U-0YEv 400w, https://saw.middlebury.edu/~imcbride/institute-redesign/sites/www.middlebury.edu.institute/files/styles/640x360/public/2021-08/carlos-colon-NPTS-2019_helping-other-student_computer-lab_1500x1000.JPG?fv=xL3gpSGz&amp;itok=nj-oj2Kv 640w, https://saw.middlebury.edu/~imcbride/institute-redesign/sites/www.middlebury.edu.institute/files/styles/960x540/public/2021-08/carlos-colon-NPTS-2019_helping-other-student_computer-lab_1500x1000.JPG?fv=GsS7WaEp&amp;itok=N0CGkwWZ 960w, https://saw.middlebury.edu/~imcbride/institute-redesign/sites/www.middlebury.edu.institute/files/styles/1280x720/public/2021-08/carlos-colon-NPTS-2019_helping-other-student_computer-lab_1500x1000.JPG?fv=iQE9u9P2&amp;itok=7PCkhQcT 1280w, https://saw.middlebury.edu/~imcbride/institute-redesign/sites/www.middlebury.edu.institute/files/styles/1440x810/public/2021-08/carlos-colon-NPTS-2019_helping-other-student_computer-lab_1500x1000.JPG?fv=Lao2Vvu6&amp;itok=6L7dR4rf 1440w" sizes="(max-width: 1440px) 100vw, 1440px" src="https://saw.middlebury.edu/~imcbride/institute-redesign/sites/www.middlebury.edu.institute/files/styles/1440x810/public/2021-08/carlos-colon-NPTS-2019_helping-other-student_computer-lab_1500x1000.JPG?fv=Lao2Vvu6&amp;itok=6L7dR4rf" alt="Two students in the computer lab discussing what is the on the computer screen">
				{% else %}
					{% include 'partials/img.twig' with {
						name: 'spotlight'
					} %}
				{% endif %}
				{% if caption %}
					<figcaption class="mega-cta__caption">
						{% include 'partials/tooltip.twig' with {
              light: true,
              size: 'lg',
              id: random(1234),
              label: caption
            } %}
					</figcaption>
				{% endif %}
			</figure>

			<div class="mega-cta__front {% if gradient %} mega-cta--gradient-{{gradient}} {% endif %}">
				<div class="mega-cta__content {% if gradient %} mega-cta__content-position mega-cta__content-position-{{gradient}} {% endif %}">
					{% if title %}
						<h2 class="mega-cta__title" id="midd-mega-cta-label-{{id}}">{{title|default('What makes Middlebury different?')}}</h2>
					{% endif %}
					{% if title_link %}
						<a href="#" class="mega-cta__link">
							<h2 class="mega-cta__title{{miis ? '-miis' : ''}}" id="midd-mega-cta-label-{{id}}">{{title_link}}</h2>
						</a>
					{% endif %}
					{% if text %}
						<p class="mega-cta__text{{miis ? '-miis' : ''}}">
							{{text}}
							{# With our support, you’ll experience total immersion in the language and culture of your country. You’ll have an authentic learning experience at a local academic institution. And you’ll have the guided independence to engage with your community, take on an internship, and make personal discoveries you’ll always remember. #}
						</p>
					{% endif %}
					<a class="button button--outline button--light" href="">{{link|default('Apply now')}}</a>
				</div>
			</div>
		</section>

	</div>
</div>
