{% set id = random(1234) %}

{# set count for number of subarticles and assign appropriate classname #}
{% set count = 0 %}

{% if count == 1 %}
  {% set class = "col-md-5" %}
{% elseif count == 0 %}
  {% set class = "col-md-10" %}
{% else %}
  {% set class = "col-md-4" %}
{% endif %}

<div class="paragraph--themed-panel">
  <div class="container px-0">

    <section class="themed-panel" aria-labelledby="themed-panel-{{id}}-title">

      <div class="themed-panel__main">

        <h2 class="themed-panel__title" id="themed-panel-{{id}}-title">Sustainability and other things that go on and on</h2>
        <figure class="themed-panel__figure">
          {% include 'partials/img.twig' with {
            name: 'spotlight'
          } %}
        </figure>
      </div>

      <div class="themed-panel__secondary">
        <div class="themed-panel__main-article">
          <article class="col-md-10 themed-panel__article" aria-labelledby="themed-panel-{{id}}-first">
            <h3 class="themed-panel__heading h2" id="themed-panel-{{id}}-first">
              <a href="">Lorem ipsum dolor sit amet consectetur adipisicing</a>
            </h3>
            <p class="themed-panel__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit magnam dicta nihil reiciendis laboriosam, exercitationem harum numquam rem sint laudantium ducimus optio provident voluptate obcaecati reprehenderit voluptates illum dignissimos corrupti!</p>
            <a href="#" class="button button--primary themed-panel__cta">Learn more</a>
          </article>
        </div>
        <div class="themed-panel__subarticles">
          {% for item in 0..count %}
            <article class="col-auto {{class}} themed-panel__subarticle" aria-labelledby="themed-panel-{{id}}-{{loop.index}}">
              <h3 class="themed-panel__heading" id="themed-panel-{{id}}-{{loop.index}}">
                <a href="" class="text-white">24/7 Support</a>
              </h3>
              <p class="themed-panel__text">
              {% if random(1) %}
                Lorem ipsum dolor sit amet consectetur adipisicing ipsum dolor sit amet consectetur adipisicing elit.
              {% else %}
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quo optio quia molestias ipsa debitis, accusamus tempore quaerat eveniet, perspiciatis, natus provident saepe ducimus placeat dignissimos nemo delectus pariatur nesciunt! Earum eveniet qui provident ad aliquam, assumenda reprehenderit fugit recusandae, est cum deleniti, dolore corrupti doloremque magni. Laboriosam accusantium natus rem adipisci.
              {% endif %}
              </p>
              <a href="" class="button button--light button--outline themed-panel__cta">Read more</a>
            </article>
          {% endfor %}
        </div>
      </div>

    </section>

  </div>
</div>
