{% set id = random(1234) %}
<div class="paragraph--themed-panel">
  <div class="container px-0">

    <section class="themed-panel" aria-labelledby="themed-panel-{{id}}-title">

      <div class="themed-panel__main">

        <h2 class="themed-panel__title" id="themed-panel-{{id}}-title">Sustainability and other things that go on and on</h2>
        <figure class="themed-panel__figure">
          {% include 'partials/img.twig' with {
            name: 'spotlight'
          } %}
        </figure>
      </div>

      <div class="themed-panel__secondary">
        <article class="offset-1 col-9 themed-panel__article" aria-labelledby="themed-panel-{{id}}-first">
          <h3 class="themed-panel__heading h2" id="themed-panel-{{id}}-first">
            <a href="">Lorem ipsum dolor sit amet consectetur adipisicing</a>
          </h3>
          <p class="themed-panel__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit magnam dicta nihil reiciendis laboriosam, exercitationem harum numquam rem sint laudantium ducimus optio provident voluptate obcaecati reprehenderit voluptates illum dignissimos corrupti!</p>
          <a href="button" class="themed-panel__cta">Learn more</a>
        </article>
        {% for item in 0..2 %}
          <article class="themed-panel__subarticle" aria-labelledby="themed-panel-{{id}}-{{loop.index}}">
            <h3 class="themed-panel__heading" id="themed-panel-{{id}}-{{loop.index}}">
              <a href="" class="text-white">24/7 Support</a>
            </h3>
            <p class="themed-panel__text">Lorem ipsum dolor sit amet consectetur adipisicing ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <a href="" class="themed-panel__cta button button--light button--outline">Read more</a>
          </article>
        {% endfor %}
      </div>

    </section>

  </div>
</div>
