{% set colors = ['#C0E3FD', '#83C9FC', '#0E68B1', '#07487B', '#043666'] %}
{% set heights = [429.28, 431.41, 435.67, 436.74, 446.33, 454.85, 514.5] %}
{% set margins = [0, 10, 20, 30, 35]  %}
<div class="paragraph--waveform">
	<div class="container px-0">
		<section class="waveform">
			<h2 class="section__title">
				Section Title Events
			</h2>
			<ul class="waveform__list shifting-slider">
				{% for i in 0..40 %}
					<li class="waveform__list-item js-waveform-item-{{i}}" data-toggle-target=".js-waveform-item-{{i}}" style="height:{{random(heights)}}px; background-color:{{random(colors)}}; margin-top:{{random(margins)}}px">
						<div class="waveform__event-card">
							<div class="waveform__event-content">
								<div class="waveform__event-card--title">
									<time datetime="" class="text-center lh-solid">
										<span class="f2 d-block font-semibold">JUN</span>
										<span class="f6 d-block">24</span>
									</time>
									<div class="lh-solid pl-2">
										<p class="f3 font-semibold lh-solid">
											McCullough Grille
										</p>
										<time datetime="" class="d-block font-normal">7:00 PM</time>
									</div>
								</div>
								<h3 class="f7" id="midd-event-{{i}}-header">
									<a href="{{ url|default('#') }}" title="{{ title }} on June 24, 2017 &middot; 11:45 AM">
										Museum of Art Lecture Series
									</a>
								</h3>
								<p class="f3 my-3">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores illum quas, voluptatum atque voluptas, animi ipsam magni sit quo quae ut fugit. Accusantium explicabo sunt laborum? Soluta, placeat nisi.
								</p>
							</div>
							<a href="" class="paragraph--button button button--primary">Do something awesome</a>
						</div>
					</li>
				{% endfor %}
			</ul>
		</section>
	</div>
</div>
