{% extends "midd-layout.twig" %}

{% set midd_institutional_header = true %}
{% set count_learning = -1 %}
{% set count_place = -1 %}
{% set count_purpose = -1 %}

{% set section_learning = [
  {id: 0, label: 'The Liberal Arts', x: '595', y: '367.75'},
  {id: 1, label: 'History of Middlebury', x: '607', y: '420'},
  {id: 2, label: 'Principles and Values', x: '607', y: '472.25'},
  {id: 3, label: 'Looking to the Future', x: '595', y: '524.5'}
] %}

{% set section_place = [
  {id: 4, label: 'Vermont', x: '69', y: '996'},
  {id: 5, label: 'California', x: '49', y: '1104.5'},
  {id: 6, label: 'World', x: '53', y: '1219'}
]
%}

{% set section_purpose_desktop = [
  {id: 7, label: 'Engagement', x: '246.01', y: '2029.25', text_x: '205.19'},
  {id: 8, label: 'Justice', x: '394.34', y: '2029.25', text_x: '373.34'},
  {id: 9, label: 'Sustainability', x: '538.67', y: '2029.25', text_x: '495.67'},
  {id: 10, label: 'Culture', x: '683', y: '2029.25', text_x: '658'},
] %}

{% set section_purpose_tablet = [
  {id: 7, label: 'Engagement', x: '182.01', y: '2029.25', text_x: '141.19'},
  {id: 8, label: 'Justice', x: '330.34', y: '2029.25', text_x: '309.34'},
  {id: 9, label: 'Sustainability', x: '474.67', y: '2029.25', text_x: '431.67'},
  {id: 10, label: 'Culture', x: '619', y: '2029.25', text_x: '594'},
] %}

{% set section_learning_mobile = [
  {id: 0, label: 'The Liberal Arts', x: '153', y: '108', text_x: '37'},
  {id: 1, label: 'History of Middlebury', x: '153', y: '148', text_x: '3'},
  {id: 2, label: 'Principles and Values', x: '153', y: '188', text_x: '5'},
  {id: 3, label: 'Looking to the Future', x: '153', y: '228', text_x: '5'}
] %}

{% set section_place_mobile = [
  {id: 4, label: 'Vermont', x: '153', y: '680', text_x: '77'},
  {id: 5, label: 'California', x: '153', y: '728', text_x: '72'},
  {id: 6, label: 'World', x: '153', y: '776', text_x: '94'}
] %}

{% set section_purpose_mobile = [
  {id: 7, label: 'Engagement', x: '153', y: '1324', text_x: '56'},
  {id: 8, label: 'Justice', x: '153', y: '1364', text_x: '90'},
  {id: 9, label: 'Sustainability', x: '153', y: '1404', text_x: '52'},
  {id: 10, label: 'Culture', x: '153', y: '1444', text_x: '85'}
] %}

{% block page %}
  <div class="journey">
    <div class="journey-line-box js-journey-line">
      <svg viewbox="0 0 840 2050" xmlns="http://www.w3.org/2000/svg" class="journey-line journey-line--desktop" style="pointer-events:auto;">
        <path fill="none" fill-rule="evenodd" stroke="white" stroke-dasharray="2" d="M241.462 0C241.462 13.974 236.795 48 150.44 68.861C115.943 77.194 80.7801 82.516 45.8351 88.7C37.7221 90.351 29.5971 91.972 21.5891 94.093C16.6621 95.398 10.5991 96.466 6.08807 99.183C0.54007 102.525 -0.96893 110.151 4.06907 114.957C7.24507 117.988 13.1571 120.145 19.2311 121.532C51.1641 128.829 83.3221 135.045 115.336 141.971C137.663 146.163 159.834 151.366 181.893 156.769C320.669 190.76 508.109 223.273 578.526 334.754C598.67 366.646 607.511 405.595 607.511 446C607.576 486.405 598.735 525.354 578.592 557.246C534.769 631.038 454.844 682.631 371.701 722.143C360.554 727.44 329.795 742 335.34 759.348C337.205 765.183 344.836 768.859 350.674 770.714C364.952 775.251 386.795 779 389.581 794.104C389.581 794.104 404.795 821.999 319.803 873.996C278.521 899.251 233.541 917.504 188.799 935.578C165.558 944.967 142.443 954.667 119.418 964.572C101.319 972.357 74.5871 981.925 68.8581 998.156C60.7951 1021 84.4891 1034.31 78.7951 1061C73.4621 1086 50.9001 1101.26 33.4801 1120.65C22.4711 1132.91 15.7951 1149.49 16.7951 1165.99C18.1281 1188 35.2831 1206.97 54.6561 1218.95C178.128 1295.33 630.287 1412.74 461.796 1527C432.795 1546.67 420.964 1564.38 451.797 1582C486.795 1602 523.504 1609.06 561.795 1629C580.652 1638.82 593.109 1656.1 591.091 1678.77C582.795 1772 176.521 1919.27 110.795 1951C81.7951 1965 55.8271 1981.74 54.9261 1999.16C53.7951 2021 84.7951 2029.05 111.277 2029.05C138.898 2029.05 166.512 2029.3 194.117 2029.3C194.117 2029.3 624.74 2029.3 840.052 2029.3"/>
        <g class="journey-line--section journey-line--section-learning">
          {% for label in section_learning %}
            {% set text_x = label.x + 16 %}{% set text_y = label.y + 5 %}
            <a class="journey--link" href="#slide{{label.id + 1}}" role="button" data-journey-overlay-open="midd-journey-overlay">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="4" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
          {% endfor %}
        </g>
        <g class="journey-line--section journey-line--section-place">
          {% for label in section_place %}
            {% set text_x = label.x + 16 %}{% set text_y = label.y + 5 %}
            <a class="journey--link" href="#slide{{label.id + 1}}" role="button" data-journey-overlay-open="midd-journey-overlay">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="4" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
          {% endfor %}
        </g>
        <g class="journey-line--section journey-line--section-purpose__tablet">
          {% for label in section_purpose_tablet %}
            {% set text_y = label.y - 32 %}
            <a class="journey--link" href="#slide{{label.id + 1}}" role="button" data-journey-overlay-open="midd-journey-overlay">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="4" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{label.text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
          {% endfor %}
        </g>
        <g class="journey-line--section journey-line--section-purpose__desktop">
          {% for label in section_purpose_desktop %}
            {% set text_y = label.y - 32 %}
            <a class="journey--link" href="#slide{{label.id + 1}}" role="button" data-journey-overlay-open="midd-journey-overlay">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="4" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{label.text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
          {% endfor %}
        </g>
      </svg>
      <svg viewbox="0 0 169 1460" xmlns="http://www.w3.org/2000/svg" class="journey-line journey-line--mobile" style="pointer-events:auto;">
        <path fill="none" fill-rule="evenodd" stroke="white" stroke-dasharray="2" d="M152.709 0V277C152.563 314.198 153.89 385.083 145.078 417.382C137.905 443.678 151.889 472.606 151.889 499.779C151.888 533.905 124.451 531.593 124.45 566.004C124.449 583.928 133.281 597.734 139.603 609.012C147.905 623.825 152.892 640.882 152.892 663.239C152.844 704.53 153.602 767.675 153.547 808.979C153.515 833.515 153.782 858.3 152.82 882.784C152.074 901.745 147.234 917.035 145.282 935.319C143.297 953.931 150.958 968.981 153.711 985.57C156.657 1003.32 154.277 1024.17 149.359 1040.33C143.039 1061.1 108.118 1084.09 116.21 1114.65C120.421 1130.56 132.46 1130.61 136.236 1147.56C137.684 1154.07 137.178 1161.76 138.738 1168.17C140.853 1176.87 145.428 1181.52 148.235 1189.15C154.361 1205.78 152.983 1227.52 152.865 1246.73C152.71 1272.15 152.865 1297.56 152.865 1322.98V1451.82"/>
        <g class="journey-line--section journey-line--section-learning">
          {% for label in section_learning_mobile %}
            {% set text_y = label.y + 4 %}
            <a class="journey--link" href="#slide{{label.id + 1}}" role="button" data-journey-overlay-open="midd-journey-overlay">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="3" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{label.text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
          {% endfor %}
        </g>
        <g class="journey-line--section journey-line--section-place">
          {% for label in section_place_mobile %}
            {% set text_y = label.y + 4 %}
            <a class="journey--link" href="#slide{{label.id + 1}}" role="button" data-journey-overlay-open="midd-journey-overlay">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="3" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{label.text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
          {% endfor %}
        </g>
        <g class="journey-line--section journey-line--section-purpose">
          {% for label in section_purpose_mobile %}
            {% set text_y = label.y + 4 %}
            <a class="journey--link" href="#slide{{label.id + 1}}" role="button" data-journey-overlay-open="midd-journey-overlay">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="3" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{label.text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
          {% endfor %}
        </g>
      </svg>
    </div>
    {% include 'partials/journey-section.twig' with {
      image: '/images/demo/hero.jpg',
      duration: 0.65,
      name: 'intro',
      title: 'The most globally engaged college in the country.',
      align: 'center',
    } %}
    {% include 'partials/journey-section.twig' with {
      video: '/images/demo/videos/learning.mp4',
      duration: 2.6,
      name: 'learning',
      title: 'Our Approach to Learning',
      blurb: 'Middlebury teaches students how to decode, understand, connect, and self-express in culturally relevant ways and prepares students to independently define, pursue, and achieve their goals.',
      button_text: 'Learn More',
      align: 'left',
      dots: [
        'The Liberal Arts',
        'History of Middlebury',
        'Principles and Values',
        'Looking to the Future'
      ]
    } %}
    {% include 'partials/journey-section.twig' with {
      video: '/images/demo/videos/place.mp4',
      duration: 3,
      name: 'place',
      title: 'The Experience of Place',
      blurb: 'Physical and cultural landscapes provide the context for experiential learning.  Place orients, inspires, informs and catalyzes personal inquiry.',
      button_text: 'Learn More',
      align: 'right',
      dots: [
        'Vermont',
        'California',
        'World',
      ]
    } %}
    {% include 'partials/journey-section.twig' with {
      video: '/images/demo/videos/purpose.mp4',
      duration: 3,
      name: 'purpose',
      title: 'A Sense of Purpose',
      blurb: 'VISION: A world with a robust and inclusive public sphere where ethical citizens work across intellectual, geographical, and cultural borders.',
      button_text: 'Learn More',
      align: 'left',
      dots: [
        'Engagement',
        'Justice',
        'Sustainability',
        'Culture',
      ]
    } %}
    <div class="journey-modal--block" id="midd-journey-overlay" style="overflow-x:hidden">
      {% include 'partials/journey-modal.twig' with {
        id: label.id,
        content_type: 'play',
        description: 'Take a tour of Middlebury Campus',
        image_name: 'homepage_grid_2',
        class: 'swiper-slide'
      }%}
    </div>
  </div>
{% endblock %}
