{% extends "midd-layout.twig" %}

{% set midd_institutional_header = true %}

{% set section_learning = [
  {label: 'The Liberal Arts', x: '595', y: '367.75'},
  {label: 'History of Middlebury', x: '607', y: '420'},
  {label: 'Principles and Values', x: '607', y: '472.25'},
  {label: 'Looking to the Future', x: '595', y: '524.5'}
] %}

{% set section_place = [
  {label: 'Vermont', x: '69', y: '996'},
  {label: 'California', x: '49', y: '1104.5'},
  {label: 'World', x: '53', y: '1219'}
]
%}

{% set section_purpose_desktop = [
  {label: 'Engagement', x: '246.01', y: '2029.25', text_x: '205.19'},
  {label: 'Justice', x: '394.34', y: '2029.25', text_x: '373.34'},
  {label: 'Sustainability', x: '538.67', y: '2029.25', text_x: '495.67'},
  {label: 'Culture', x: '683', y: '2029.25', text_x: '658'},
] %}

{% set section_purpose_mobile = [
  {label: 'Engagement', x: '182.01', y: '2029.25', text_x: '141.19'},
  {label: 'Justice', x: '330.34', y: '2029.25', text_x: '309.34'},
  {label: 'Sustainability', x: '474.67', y: '2029.25', text_x: '431.67'},
  {label: 'Culture', x: '619', y: '2029.25', text_x: '594'},
] %}

{% block page %}
  <div class="journey">
    <div class="journey-line-box js-journey-line">
      <svg viewbox="0 0 840 2050" xmlns="http://www.w3.org/2000/svg" class="journey-line journey-line--desktop" style="pointer-events:auto;">
        <path fill="none" fill-rule="evenodd" stroke="white" stroke-dasharray="2" d="M241.462 0C241.462 13.974 236.795 48 150.44 68.861C115.943 77.194 80.7801 82.516 45.8351 88.7C37.7221 90.351 29.5971 91.972 21.5891 94.093C16.6621 95.398 10.5991 96.466 6.08807 99.183C0.54007 102.525 -0.96893 110.151 4.06907 114.957C7.24507 117.988 13.1571 120.145 19.2311 121.532C51.1641 128.829 83.3221 135.045 115.336 141.971C137.663 146.163 159.834 151.366 181.893 156.769C320.669 190.76 508.109 223.273 578.526 334.754C598.67 366.646 607.511 405.595 607.511 446C607.576 486.405 598.735 525.354 578.592 557.246C534.769 631.038 454.844 682.631 371.701 722.143C360.554 727.44 329.795 742 335.34 759.348C337.205 765.183 344.836 768.859 350.674 770.714C364.952 775.251 386.795 779 389.581 794.104C389.581 794.104 404.795 821.999 319.803 873.996C278.521 899.251 233.541 917.504 188.799 935.578C165.558 944.967 142.443 954.667 119.418 964.572C101.319 972.357 74.5871 981.925 68.8581 998.156C60.7951 1021 84.4891 1034.31 78.7951 1061C73.4621 1086 50.9001 1101.26 33.4801 1120.65C22.4711 1132.91 15.7951 1149.49 16.7951 1165.99C18.1281 1188 35.2831 1206.97 54.6561 1218.95C178.128 1295.33 630.287 1412.74 461.796 1527C432.795 1546.67 420.964 1564.38 451.797 1582C486.795 1602 523.504 1609.06 561.795 1629C580.652 1638.82 593.109 1656.1 591.091 1678.77C582.795 1772 176.521 1919.27 110.795 1951C81.7951 1965 55.8271 1981.74 54.9261 1999.16C53.7951 2021 84.7951 2029.05 111.277 2029.05C138.898 2029.05 166.512 2029.3 194.117 2029.3C194.117 2029.3 624.74 2029.3 840.052 2029.3"/>
        <g class="journey-line--section journey-line--section-learning">
          {% for label in section_learning %}
            {% set text_x = label.x + 16 %}{% set text_y = label.y + 5 %}
            <a class="journey--link" href="#" role="button">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="4" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
          {% endfor %}
        </g>
        <g class="journey-line--section journey-line--section-place">
          {% for label in section_place %}
            {% set text_x = label.x + 16 %}{% set text_y = label.y + 5 %}
            <a class="journey--link" href="#" role="button">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="4" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
          {% endfor %}
        </g>
        {# <a class="journey--link" href="#" role="button">
                                                                                          <circle cx="595" cy="367.75" r="4" data-dot-label="Culture" stroke="#F4B824" fill="#F4B824"/>
                                                                                          <text class="journey--link-text" x="595" y="367.75">Culture</text>
                                                                                        </a>
                                                                                        <a class="journey--link" href="#" role="button">
                                                                                          <circle cx="607" cy="420" r="4" data-dot-label="Culture" stroke="#F4B824" fill="#F4B824"/>
                                                                                          <text class="journey--link-text" x="607" y="420">Sustainability</text>
                                                                                        </a>
                                                                                        <a class="journey--link" href="#" role="button">
                                                                                          <circle cx="607" cy="472.25" r="4" data-dot-label="Culture" stroke="#F4B824" fill="#F4B824"/>
                                                                                          <text class="journey--link-text" x="607" y="472.25">Justice</text>
                                                                                        </a>
                                                                                        <circle cx="595" cy="524.5" r="4" data-dot-label="Engagement" fill="#F4B824"/>
                                                                                        <foreignobject class="journey--dot-label-wrapper" x="595" y="524.5" width="100" height="100">
                                                                                          <a style="color:white"  role="button">Engagement</a>
                                                                                        </foreignobject>
                                                                                        <circle cx="69" cy="996" r="4" data-dot-label="World" fill="#F4B824"/>
                                                                                        <foreignobject class="journey--dot-label-wrapper" x="69" y="996" width="100" height="100">
                                                                                          <a style="color:white"  role="button">World</a>
                                                                                        </foreignobject>
                                                                                        <circle cx="49" cy="1104.5" r="4" data-dot-label="California" fill="#F4B824"/>
                                                                                        <foreignobject class="journey--dot-label-wrapper" x="49" y="1104.5" width="100" height="100">
                                                                                          <a style="color:white"  role="button">California</a>
                                                                                        </foreignobject>
                                                                                        <circle cx="53" cy="1219" r="4" data-dot-label="Vermont" fill="#F4B824"/>
                                                                                        <foreignobject class="journey--dot-label-wrapper" x="53" y="1219" width="100" height="100">
                                                                                          <a style="color:white"  role="button">Vermont</a>
                                                                                        </foreignobject> #}
        <g class="journey-line--section journey-line--section-purpose__mobile">
          {% for label in section_purpose_mobile %}
            {% set text_y = label.y - 32 %}
            <a class="journey--link" href="#" role="button">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="4" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{label.text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
            {# <circle cx="{{label.x}}" cy="{{label.y}}" r="4" stroke="#F4B824" fill="#F4B824"/>
                                                                                                                                    <foreignobject class="journey--dot-label-wrapper" x="{{text_x}}" y="{{text_y}}">
                                                                                                                                      <a href="#" class="journey--link journey--link-text" role="button">{{label.label}}</a>
                                                                                                                                    </foreignobject>  #}
          {% endfor %}
          {# <circle cx="246.01" cy="2029.25" r="4" data-dot-label="The Liberal Arts" fill="#F4B824"/>
                                                                                                              <foreignobject class="journey--dot-label-wrapper" x="246.01" y="2029.25" width="100" height="100">
                                                                                                                <a style="color:white"  role="button">The Liberal Arts</a>
                                                                                                              </foreignobject>
                                                                                                              <circle cx="394.34" cy="2029.25" r="4" data-dot-label="History of Middlebury" fill="#F4B824"/>
                                                                                                              <foreignobject class="journey--dot-label-wrapper" x="394.34" y="2029.25" width="100" height="100">
                                                                                                                <a style="color:white"  role="button">History of Middlebury</a>
                                                                                                              </foreignobject>
                                                                                                              <circle cx="538.67" cy="2029.25" r="4" data-dot-label="Principles and Values" fill="#F4B824"/>
                                                                                                              <foreignobject class="journey--dot-label-wrapper" x="538.67" y="2029.25" width="100" height="100">
                                                                                                                <a style="color:white"  role="button">Principles and Values</a>
                                                                                                              </foreignobject>
                                                                                                              <circle cx="683" cy="2029.25" r="4" data-dot-label="Looking to the Future" fill="#F4B824"/>
                                                                                                              <foreignobject class="journey--dot-label-wrapper" x="683" y="2029.25" width="100" height="100">
                                                                                                                <a style="color:white"  role="button">Looking to the Future</a>
                                                                                                              </foreignobject> #}
        </g>
        <g class="journey-line--section journey-line--section-purpose__desktop">
          {% for label in section_purpose_desktop %}
            {% set text_y = label.y - 32 %}
            <a class="journey--link" href="#" role="button">
              <circle cx="{{label.x}}" cy="{{label.y}}" r="4" stroke="#F4B824" fill="#F4B824"/>
              <circle class="journey--dot-ripple" cx="{{label.x}}" cy="{{label.y}}" fill="none"/>
              <text class="journey--link-text" x="{{label.text_x}}" y="{{text_y}}">{{label.label}}</text>
            </a>
            {# <circle cx="{{label.x}}" cy="{{label.y}}" r="4" stroke="#F4B824" fill="#F4B824"/>
                                                                                                                                    <foreignobject class="journey--dot-label-wrapper" x="{{text_x}}" y="{{text_y}}">
                                                                                                                                      <a href="#" class="journey--link journey--link-text" role="button">{{label.label}}</a>
                                                                                                                                    </foreignobject>  #}
          {% endfor %}
          {# <circle cx="167" cy="2029.25" r="4" data-dot-label="The Liberal Arts" fill="#F4B824"/>
                                                                                                              <foreignobject class="journey--dot-label-wrapper" x="167" y="2029.25" width="100" height="100">
                                                                                                                <a style="color:white"  role="button">The Liberal Arts</a>
                                                                                                              </foreignobject>
                                                                                                              <circle cx="355.667" cy="2029.25" r="4" data-dot-label="History of Middlebury" fill="#F4B824"/>
                                                                                                              <foreignobject class="journey--dot-label-wrapper" x="355.667" y="2029.25" width="100" height="100">
                                                                                                                <a style="color:white"  role="button">History of Middlebury</a>
                                                                                                              </foreignobject>
                                                                                                              <circle cx="544.333" cy="2029.25" r="4" data-dot-label="Principles and Values" fill="#F4B824"/>
                                                                                                              <foreignobject class="journey--dot-label-wrapper" x="544.333" y="2029.25" width="100" height="100">
                                                                                                                <a style="color:white"  role="button">Principles and Values</a>
                                                                                                              </foreignobject>
                                                                                                              <circle cx="733" cy="2029.25" r="4" data-dot-label="Looking to the Future" fill="#F4B824"/>
                                                                                                              <foreignobject class="journey--dot-label-wrapper" x="733" y="2029.25" width="100" height="100">
                                                                                                                <a style="color:white"  role="button">Looking to the Future</a>
                                                                                                              </foreignobject> #}
        </g>
        {# <foreignobject class="journey--dot-label-wrapper" style="pointer-events:auto;" x="595" y="367.75" width="100" height="100">
                                                                                            <a style="pointer-events:auto;border:1px green solid;" href="#" role="button">Culture</a>       
                                                                                          </foreignobject> #}
      {# Culture</a> #}
        {# Path variable for a non scaling circle #}
        {# <path d="M 592.5 367.75 l 0.0001 0" stroke="#F4B824" stroke-linecap="round" stroke-width="8" vector-effect="non-scaling-stroke"/> #}
      </svg>
    </div>
    {% include 'partials/journey-section.twig' with {
      image: '/images/demo/hero.jpg',
      duration: 0.65,
      name: 'intro',
      title: 'The most globally engaged college in the country.',
      align: 'center',
    } %}
    {% include 'partials/journey-section.twig' with {
      video: '/images/demo/videos/learning.mp4',
      duration: 2.6,
      name: 'learning',
      title: 'Our Approach to Learning',
      blurb: 'Middlebury teaches students how to decode, understand, connect, and self-express in culturally relevant ways and prepares students to independently define, pursue, and achieve their goals.',
      button_text: 'Learn More',
      align: 'left',
      dots: [
        'The Liberal Arts',
        'History of Middlebury',
        'Principles and Values',
        'Looking to the Future'
      ]
    } %}
    {% include 'partials/journey-section.twig' with {
      video: '/images/demo/videos/place.mp4',
      duration: 3,
      name: 'place',
      title: 'The Experience of Place',
      blurb: 'Physical and cultural landscapes provide the context for experiential learning.  Place orients, inspires, informs and catalyzes personal inquiry.',
      button_text: 'Learn More',
      align: 'right',
      dots: [
        'Vermont',
        'California',
        'World',
      ]
    } %}
    {% include 'partials/journey-section.twig' with {
      video: '/images/demo/videos/purpose.mp4',
      duration: 3,
      name: 'purpose',
      title: 'A Sense of Purpose',
      blurb: 'VISION: A world with a robust and inclusive public sphere where ethical citizens work across intellectual, geographical, and cultural borders.',
      button_text: 'Learn More',
      align: 'left',
      dots: [
        'Engagement',
        'Justice',
        'Sustainability',
        'Culture',
      ]
    } %}
  </div>
{% endblock %}
