<div class="accordion{% if modifier %} accordion--{{modifier}}{% endif %}">

  {% for item in items %}

    {# ID must be unique on the page #}
    {% set id = loop.index %}

    <div class="accordion-item js-accordion-item-{{id}}">
      <h3 class="accordion-item__title" id="accordion-item-label-{{id}}" role="tab">
        <a
          href="#accordion-content-{{id}}"
          class="accordion-item__link"
          data-toggle-target=".js-accordion-item-{{id}}"
          aria-expanded="false"
          aria-controls="accordion-content-{{id}}"
          role="button"
        >

          <span class="accordion-item__label">{{item.title}}</span>

          <span class="accordion-item__icon">
            <svg class="icon">
              <use xlink:href="#icon-chevron-down" />
            </svg>
          </span>
        </a>
      </h3>

      <div class="accordion-item__content" id="accordion-content-{{id}}" role="tabpanel" aria-labelledby="accordion-item-label-{{id}}">
        <div class="typography">
          {{item.content}}
        </div>
      </div>
    </div>
  {% endfor %}

</div>

