<div class="accordion">

  {% for item in items %}

    {# ID must be unique on the page #}
    {% set id = loop.index %}

    <div class="accordion-item js-accordion-item-{{id}}">
      <h3 class="accordion-item__title" role="tab">
        <a
          href="#accordion-content-{{id}}"
          class="accordion-item__link"
          data-toggle-target=".js-accordion-item-{{id}}"
          aria-expanded="false"
          aria-controls="midd-accordion-content-{{id}}"
          aria-labelledby="midd-accordion-item-label-{{id}}"
          role="button"
        >
          {% if faq %}
          <span class="accordion-item__char" aria-hidden>Q</span>
          {% endif %}

          <span class="accordion-item__label" id="midd-accordion-item-label-{{id}}">{{item.title}}</span>

          {% include 'partials/icon.twig' with { name: 'chevron-down', class: 'accordion-item__icon' } %}
        </a>
      </h3>

      <div class="accordion-item__content" id="midd-accordion-content-{{id}}" role="tabpanel" aria-labelledby="midd-accordion-item-label-{{id}}">
        {% if faq %}
          <span class="accordion-item__char" aria-hidden>A</span>
        {% endif %}
        <div class="typography">
          {{item.content}}
        </div>
      </div>
    </div>
  {% endfor %}

</div>

