<div class="accordion {{class}}" role="tablist">
  {% if table %}
    <div>
      <span>Course</span>
      <span>Fall 25</span>
      <span>Spring 25</span>
      <span>Fall 26</span>
      <span>Spring 26</span>
    </div>
  {% endif %}

  {% for item in items %}

    {# ID must be unique on the page #}
    {% set id = random(1234) %}

    <div class="accordion-item js-accordion-item-{{id}}{{ item.current ? " accordion-item-current" : "" }}{{ item.upcoming ? " accordion-item-upcoming" : "" }}">
      <a 
        href="#midd-accordion-item-label-{{id}}"
        class="accordion-item__link"
        data-toggle-target=".js-accordion-item-{{id}}"
        aria-expanded="false"
        aria-controls="midd-accordion-content-{{id}}"
        aria-labelledby="midd-accordion-item-label-{{id}}"
        role="tab">
        <h3 class="accordion-item__title">
          {% block label %}
          {% endblock %}
          {% include 'partials/icon.twig' with { name: 'chevron-down', class: 'accordion-item__icon' } %}
        </h3>
      </a>

      <div class="accordion-item__content {{column ? "accordion-item__content--column" : ""}}" id="midd-accordion-content-{{id}}" role="tabpanel" aria-labelledby="midd-accordion-item-label-{{id}}">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  {% endfor %}

</div>

