{% include 'partials/page-image.twig' %}

<div class="paragraphs">
	{% include 'partials/lead.twig' %}

	{% include 'paragraphs/emma-form.twig' %}

	{% include 'paragraphs/schedule.twig' %}

	{% include 'paragraphs/helpfulness.twig' %}

	{% include 'paragraphs/flowchart.twig' %}

	{% include 'paragraphs/portrait-video-group.twig' %}

	<div class="paragraph--text typography" data-digest-content>
		<h2>
			There&rsquo;s a heading after intro. 360&deg; degrees. You’ve got
						      questions. We’ve "got“ answers!
		</h2>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus facilis
						      consectetur adipisci minus libero natus assumenda pariatur, architecto
						      nisi sed rerum ad rem recusandae? Sapiente blanditiis consectetur maxime
						      incidunt voluptatibus?
		</p>
		<p>
			Sapiente cumque, quibusdam illo eaque itaque deleniti hic quos
						      perspiciatis aut, nostrum at aspernatur deserunt dolor delectus officia
						      odio aperiam atque eligendi, sit ab tempora expedita quod accusantium
						      autem. Repellat!
		</p>
	</div>

  {% include 'paragraphs/media-group.twig' with {
    title: 'Media group',
    blurb: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
        quam optio ratione labore possimus iusto corrupti vero fugiat explicabo
        officiis ex, a sunt obcaecati molestias voluptate eum earum ipsam
        accusantium.',
    media_content_items: ['video', 'image', 'image', 'audio', 'video']
  } %}

	{# {% include 'paragraphs/video-group.twig' %} #}

	{% include 'paragraphs/status-report.twig' %}

	{% include 'paragraphs/status-report.twig' with {
    items: printer_status
  } %}

	{% include 'paragraphs/gallery.twig' %}

	{% include 'paragraphs/related-events-list.twig' %}

	{% include 'paragraphs/related-stories-list.twig' %}

	{% include 'paragraphs/text.twig' %}

	{% include 'paragraphs/profile-list.twig' %}

	{% if not env.test %}
		{% include 'paragraphs/audio.twig' with {
      paragraph: true
    } %}
	{% endif %}

	{% include 'paragraphs/announcement.twig' %}

	{% include 'paragraphs/schedule.twig' %}

	{% include 'paragraphs/image-with-text.twig' %}

	{% include 'paragraphs/image-with-text.twig' with {
    right: true
  } %}

	{% include 'paragraphs/faq.twig' %}

	{% include 'paragraphs/course-list.twig' with {
		course_title: 'Course List'
	} %}

	{% include 'paragraphs/text.twig' %}

	{% include 'paragraphs/image.twig' with {
    right: true
  } %}

	{% include 'paragraphs/text-short.twig' %}

	{% include 'paragraphs/image.twig' %}

	{% include 'paragraphs/two-col-text.twig' %}

	{% include 'paragraphs/video.twig' with {
    transcript: true
  } %}

	{# {% include 'paragraphs/slideshow.twig' %} #}

	{% include 'paragraphs/text.twig' %}

	{% include 'paragraphs/button.twig' with { 
    n: 2
  }%}

	{# {% include 'paragraphs/button.twig' %} #}

   {% include 'paragraphs/two-col-text.twig' %}

	{% include 'paragraphs/text-short.twig' %}

	{% include 'paragraphs/link-list.twig' %}

  <div class="typography paragraph--text" data-digest-content="">
    <h2 id="draft-course-schedule">DRAFT -&nbsp;Course&nbsp;Schedule<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="" href="#draft-course-schedule" style="font: 1em / 1 anchorjs-icons; margin-left: 0.1875em; padding-right: 0.1875em; padding-left: 0.1875em;"></a></h2>
    <h3>Core&nbsp;Coursework</h3>
    <p>Core classes provide a base of natural science literacy, along with an emphasis on interdisciplinary social science—economics, law, policy, psychology, communication, and data analysis. We don’t simply study problems&nbsp;but address them, paying particular attention to behavioral design, effective advocacy, and social justice concerns. You will gain and develop&nbsp;the&nbsp;following:</p>
    <ul role="list">
      <li>A fundamental understanding of&nbsp;economics as it relates to&nbsp;environmental policy</li>
      <li>Quantitative skills to support environmental policymaking</li>
      <li>An understanding of the applied science that underlies effective natural resources management, conservation, risk assessment, and decision&nbsp;making in a changing world</li>
      <li>A strong background in environmental policy and management strategies</li>
    </ul>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Title</th>
          <th>Fall 25</th>
          <th>Spring 26</th>
          <th>Fall 26</th>
          <th>Spring 27</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="Number">ENPG 8542</td>
          <td data-th="Title">Environmental &amp; Natural Resource Economics</td>
          <td data-th="Fall 25">
            <span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span>
          </td>
          <td data-th="Spring 26">&nbsp;</td>
          <td data-th="Fall 26">
            <span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span>
          </td>
          <td data-th="Spring 27">&nbsp;</td>
        </tr>
        <tr>
          <td data-th="Number">ENPG 8503</td>
          <td data-th="Title">Research Strategies for Environmental Policy</td>
          <td data-th="Fall 25">
            <span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span>
          </td>
          <td data-th="Spring 26">&nbsp;</td>
          <td data-th="Fall 26">
            <span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span>
          </td>
          <td data-th="Spring 27">&nbsp;</td>
        </tr>
        <tr>
          <td data-th="Number">ENPG 8506</td>
          <td data-th="Title">Public Policy and the Environment</td>
          <td data-th="Fall 25">
            <span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span>
          </td>
          <td data-th="Spring 26">&nbsp;</td>
          <td data-th="Fall 26">
            <span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span>
          </td>
          <td data-th="Spring 27">&nbsp;</td>
        </tr>
        <tr>
          <td data-th="Number">ENPG 8507</td>
          <td data-th="Title">Governing the Global Commons</td>
          <td data-th="Fall 25">&nbsp;</td>
          <td data-th="Spring 26">
            <span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span>
          </td>
          <td data-th="Fall 26">&nbsp;</td>
          <td data-th="Spring 27">
            <span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span>
          </td>
        </tr>
        <tr>
          <td data-th="Number">ENPG 8591</td>
          <td data-th="Title">Applied Conservation Science &amp; Policy</td>
          <td data-th="Fall 25">&nbsp;</td>
          <td data-th="Spring 26"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
          <td data-th="Fall 26">&nbsp;</td>
          <td data-th="Spring 27"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
        </tr>
        <tr>
          <td data-th="Number">ENPG 8525</td>
          <td data-th="Title">Environmental Leadership</td>
          <td data-th="Fall 25">&nbsp;</td>
          <td data-th="Spring 26"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
          <td data-th="Fall 26">&nbsp;</td>
          <td data-th="Spring 27"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
        </tr>
        <tr>
          <td data-th="Number">TBD</td>
          <td data-th="Title">ICC Course</td>
          <td data-th="Fall 25"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
          <td data-th="Spring 26"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
          <td data-th="Fall 26"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
          <td data-th="Spring 27"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
        </tr>
        <tr>
          <td data-th="Number">TBD</td>
          <td data-th="Title">PSS-Independent Practicum</td>
          <td data-th="Fall 25"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
          <td data-th="Spring 26"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
          <td data-th="Fall 26"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
          <td data-th="Spring 27"><span class="status-report__icon bg-success">
              <span class="sr-only">{{ icon.label }}</span>
              <svg class="icon" focusable="false" aria-hidden="true"><use xlink:href="#icon-check"></use></svg>
            </span></td>
        </tr>
      </tbody>
    </table>
    <h3>Elective&nbsp;Coursework</h3>
    <p>Students have 30 elective&nbsp;credits.&nbsp;</p>
    <ul role="list">
      <li>A minimum of 15 credits from the Environmental Policy and Management program (within or across the optional specializations.)</li>
      <li>The remaining credits can be used for language studies courses, additional intercultural competence courses, and/or&nbsp;courses from other degree programs (assuming prerequisites are met).</li>
      </ul>
    <table>
      <thead>
        <tr>
          {# <th>Number</th> #}
          <th>Title</th>
          <th>Fall 25</th>
          <th>Spring 26</th>
          <th>Fall 26</th>
          <th>Spring 27</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {# <td data-th="Number"></td> #}
          <td data-th="Title">
            <details>
              <summary>IEPG 8666 - International Marine Policy Speaker Series</summary>
              Something small enough to escape casual notice.
            </details>
          </td>
          </td>
          <td data-th="Fall 25">X</td>
          <td data-th="Spring 26">&nbsp;</td>
          <td data-th="Fall 26">X</td>
          <td data-th="Spring 27">&nbsp;</td>
        </tr>
        <tr>
          {# <td data-th="Number"></td> #}
          <td data-th="Title">
            <details>
              <summary>IEPG 8652 - International Marine Law</summary>
              Something small enough to escape casual notice.
            </details>
          </td>
          <td data-th="Fall 25">&nbsp;</td>
          <td data-th="Spring 26">J-Term</td>
          <td data-th="Fall 26">&nbsp;</td>
          <td data-th="Spring 27">J-Term</td>
        </tr>
        <tr>
          {# <td data-th="Number"></td> #}
          <td data-th="Title">
            <details>
              <summary>IEPG 8635 - Marine Science and Policy</summary>
              Something small enough to escape casual notice.
            </details>
          </td>
          <td data-th="Fall 25">X</td>
          <td data-th="Spring 26">&nbsp;</td>
          <td data-th="Fall 26">X</td>
          <td data-th="Spring 27">&nbsp;</td>
        </tr>
        <tr>
          {# <td data-th="Number"></td> #}
          <td data-th="Title">
            <details>
              <summary>IEPG 8611 - Sustainable Coastal Management</summary>
              Something small enough to escape casual notice.
            </details>
          </td>
          <td data-th="Fall 25">X</td>
          <td data-th="Spring 26">&nbsp;</td>
          <td data-th="Fall 26">X</td>
          <td data-th="Spring 27">&nbsp;</td>
        </tr>
        <tr>
          {# <td data-th="Number"></td> #}
          <td data-th="Title">
            <details>
              <summary>IEPG 8671 - International Renewable Energy Policy</summary>
              Something small enough to escape casual notice.
            </details>
          </td>
          <td data-th="Fall 25">X</td>
          <td data-th="Spring 26">&nbsp;</td>
          <td data-th="Fall 26">X</td>
          <td data-th="Spring 27">&nbsp;</td>
        </tr>
        <tr>
          {# <td data-th="Number"></td> #}
          <td data-th="Title">
            <details>
              <summary>IEPG 9564 - Sustainable Cities</summary>
              Something small enough to escape casual notice.
            </details>
          </td>
          <td data-th="Fall 25">&nbsp;</td>
          <td data-th="Spring 26">X</td>
          <td data-th="Fall 26">&nbsp;</td>
          <td data-th="Spring 27">X</td>
        </tr>
        <tr>
          {# <td data-th="Number"></td> #}
          <td data-th="Title">
            <details>
              <summary>IEPG 8639 - Sustainable Agriculture</summary>
              Something small enough to escape casual notice.
            </details>
          </td>
          <td data-th="Fall 25">&nbsp;</td>
          <td data-th="Spring 26">X</td>
          <td data-th="Fall 26">&nbsp;</td>
          <td data-th="Spring 27">X</td>
        </tr>
        <tr>
          {# <td data-th="Number"></td> #}
          <td data-th="Title">
            <details>
              <summary>IEPG 8613 - Innovation for SDGs</summary>
              Something small enough to escape casual notice.
            </details>
          </td>
          <td data-th="Fall 25">&nbsp;</td>
          <td data-th="Spring 26">X</td>
          <td data-th="Fall 26">&nbsp;</td>
          <td data-th="Spring 27">X</td>
        </tr>
      </tbody>
    </table>

  </div>

  {# {% include 'paragraphs/course-curriculum.twig' with {
    course_title: 'Course Curriculum'
  } %} #}

	{% include 'paragraphs/embed.twig' %}
</div>
