{# form default values #}
{% set tuition = 35060 %}
{% set housing_meal_plan = 10058 %}
{% set activity_fee = 260 %}
{% set insurance_annual = 3428 %}
{% set insurance_fall = 1597 %}
{% set insurance_spring = 1831 %}
{% set fall_total = tuition + housing_meal_plan + activity_fee %}
{% set spring_total = tuition + housing_meal_plan + activity_fee %}

<div class=" js-calculator-table">
  <div class="cost-calculator__row">
  {# -- fall semester charges table -- #}
    <table class="table js-charges-table js-omit-table mb-2 mb-md-0">
      <thead>
        <tr>
          <th>
            Fall Semester Charges
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="cost-calculator-fall-tuition" class="label pr-2">Tuition</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-fall-tuition" name="tuition" type="text" class="form-control js-charges" value="{{tuition}}">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-fall-room-board" class="label pr-2">On-campus Housing and Meal Plan</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-fall-room-board" name="room-board" type="text" class="form-control js-charges" value="{{housing_meal_plan}}">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-fall-activity-fee" class="label pr-2">Student Activity Fee</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-fall-activity-fee" name="activity-fee" type="text" class="form-control js-charges" value="{{activity_fee}}">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-fall-health-insurance" class="label pr-2">Student Health Insurance (estimate)</label>
            <span class="form-control__prefix">
              <select id="cost-calculator-fall-health-insurance" name="health-insurance" type="text" class="form-control js-charges">
                <option value="0" selected>Choose an option</option>
                <option value="0">- N/A - 0</option>
                <option value="{{insurance_annual}}">Annual - {{insurance_annual}}</option>
                <option value="{{insurance_fall}}">Fall only - {{insurance_fall}}</option>
              </select>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-fall-total-charges" class="label font-bold pr-2">Total Fall Semester Charges</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-fall-total-charges" disabled="disabled" name="total-charges" type="text" value="{{fall_total}}">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  {# -- fall semester charges table -- #}

  {# -- fall semester credits table -- #}
    <table class="table js-credits-table js-omit-table">
      <thead>
        <tr>
          <th>
            Fall Semester Credits
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="cost-calculator-fall-midd-grant" class="label pr-2">Grant(s) / Scholarship(s) (Federal / Institutional)</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-fall-midd-grant" name="midd-grant" type="text" class="form-control js-credits" value="0">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-fall-student-loans" class="label pr-2">Student Loans</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-fall-student-loans" name="student-loans" type="text" class="form-control js-credits" value="0">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-fall-external-scholarship" class="label pr-2">External Scholarship(s)<a class="footnote-link" href="#sfs-footnote"><sup>1</sup></a></label>
            <span class="form-control__prefix">
              <input id="cost-calculator-fall-external-scholarship" name="external-scholarship" type="text" class="form-control js-credits" value="0">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-fall-tuition-benefit" class="label pr-2">Tuition Benefit<a class="footnote-link" href="#sfs-footnote"><sup>1</sup></a></label>
            <span class="form-control__prefix">
              <input id="cost-calculator-fall-tuition-benefit" name="tuition-benefit" type="text" class="form-control js-credits" value="0">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-fall-total-credits" class="label font-bold pr-2">Total Fall Semester Credits</label>
            <span class="form-control__prefix">
              <input class="js-total-credits" id="cost-calculator-fall-total-credits" disabled="disabled" name="total-credits" type="text" value="0">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  {# -- fall semester credits table -- #}

  </div>

  <div class="cost-calculator__row--sem-total mb-3 mr-md-3">
    <table class="table">
      <thead class="sr-only">
        <tr>
          <th>
            Total Fall Semester Amount
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="cost-calculator-fall-total-amount" class="label font-bold pr-2">Total Fall Semester Amount</label>
            <span class="form-control__prefix">
              <input class="" id="cost-calculator-fall-total-amount" disabled="disabled" name="fall-total-amount" type="text" value="45378">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="cost-calculator__row">
  {# -- spring semester charges table -- #}
    <table class="table js-charges-table js-omit-table mb-2 mb-md-0">
      <thead>
        <tr>
          <th>
            Spring Semester Charges
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="cost-calculator-spring-tuition" class="label pr-2">Tuition</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-spring-tuition" name="tuition" type="text" class="form-control js-charges" value="{{tuition}}">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-spring-room-board" class="label pr-2">On-campus Housing and Meal Plan</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-spring-room-board" name="room-board" type="text" class="form-control js-charges" value="{{housing_meal_plan}}">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-spring-activity-fee" class="label pr-2">Student Activity Fee</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-spring-activity-fee" name="activity-fee" type="text" class="form-control js-charges" value="{{activity_fee}}">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-spring-health-insurance" class="label pr-2">Student Health Insurance</label>
            <span class="form-control__prefix">
              <select id="cost-calculator-spring-health-insurance" name="health-insurance" type="text" class="form-control js-charges">
                <option value="0" selected>Choose an option</option>
                <option value="0">- N/A - 0</option>
                <option value="{{insurance_spring}}">Spring only - {{insurance_spring}}</option>
              </select>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-spring-total-charges" class="label font-bold pr-2">Total Spring Semester Charges</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-spring-total-charges" disabled="disabled" name="total-charges" type="text" value="{{spring_total}}">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  {# -- spring semester charges table -- #}

  {# -- spring semester credits table -- #}
    <table class="table js-credits-table js-omit-table">
      <thead>
        <tr>
          <th>
            Spring Semester Credits
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="cost-calculator-spring-midd-grant" class="label pr-2">Grant(s) / Scholarship(s) (Federal / Institutional)</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-spring-midd-grant" name="midd-grant" type="text" class="form-control js-credits" value="0">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-spring-student-loans" class="label pr-2">Student Loans</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-spring-student-loans" name="student-loans" type="text" class="form-control js-credits" value="0">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-spring-external-scholarship" class="label pr-2">External Scholarship(s)<a class="footnote-link" href="#sfs-footnote"><sup>1</sup></a></label>
            <span class="form-control__prefix">
              <input id="cost-calculator-spring-external-scholarship" name="external-scholarship" type="text" class="form-control js-credits" value="0">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-spring-tuition-benefit" class="label pr-2">Tuition Benefit<a class="footnote-link" href="#sfs-footnote"><sup>1</sup></a></label>
            <span class="form-control__prefix">
              <input id="cost-calculator-spring-tuition-benefit" name="tuition-benefit" type="text" class="form-control js-credits" value="0">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cost-calculator-spring-total-credits" class="label font-bold pr-2">Total Spring Semester Credits</label>
            <span class="form-control__prefix">
              <input id="cost-calculator-spring-total-credits" disabled="disabled" name="total-credits" type="text" value="0">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  {# -- spring semester credits table -- #}

  </div>
  
  <div class="cost-calculator__row--sem-total mb-3 mr-md-3">
    <table class="table">
      <thead class="sr-only">
        <tr>
          <th>
            Total Spring Semester Amount
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label for="cost-calculator-spring-total-amount" class="label font-bold pr-2">Total Spring Semester Amount</label>
            <span class="form-control__prefix">
              <input class="" id="cost-calculator-spring-total-amount" disabled="disabled" name="spring-total-amount" type="text" value="{{spring_total}}">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="cost-calculator__row--annual-amount">
  <table class="table">
    <thead class="sr-only">
      <tr>
        <th>
          Annual Billed Amount
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <label for="cost-calculator-annual-amount" class="label f3 font-bold pr-2">Annual Billed Amount</label>
          <span class="form-control__prefix">
            <input class="f3" id="cost-calculator-annual-amount" disabled="disabled" name="annual-amount" type="text" value="{{fall_total + spring_total}}">
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <input class="button button--primary mt-2" name="reset-button" onclick="reset()" type="reset" value="Clear All">
</div>