{% set j_term_badge = '<span class="badge badge--primary badge--no-outline p-0">j-term</span>' %}

{# <h2>Collapse to Accordions</h2> #}
<div class="" role="tablist">
  <div class="curriculum__row curriculum__row--header">
    <div class="curriculum__cell">Course</div>
    <div class="curriculum__cell">Fall 25</div>
    <div class="curriculum__cell">Spring 26</div>
    <div class="curriculum__cell">Fall 26</div>
    <div class="curriculum__cell">Spring 27</div>
  </div>

  {% for item in miis_curriculum %}

    {% set id = random(1234) %}

    <div class="curriculum__row accordion-item js-accordion-item-{{id}}">
      <div class="curriculum__cell">
        <h3 
          href="#midd-accordion-item-label-{{id}}"
          class="curriculum__cell-title"
          data-toggle-target=".js-accordion-item-{{id}}"
          aria-expanded="false"
          aria-controls="midd-accordion-content-{{id}}"
          aria-labelledby="midd-accordion-item-label-{{id}}"
          role="tab">
          <div class="sr-only">Course</div>
          {% include 'partials/icon.twig' with { name: 'caret-right', class: 'accordion-item__icon mx-2' } %}
          <a class="accordion-item__link">
            <span class="accordion-item__label--bold">{{item.course_number}}</span>
            {{item.title}}
          </a>
        </h3>
      </div>
      {% for data in item.semester %}
        <div class="curriculum__cell">
          <div class="sr-only">{{data.label}}</div>
          {% if data.value == 'j-term' %}
            {{j_term_badge}}
          {% else %}
            {% if data.value %}
              <span class="curriculum__cell--check">
                {% include 'partials/icon.twig' with {
                  name: 'check'
                } %}
              </span>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
      <div class="accordion-item__content--column" id="midd-accordion-content-{{id}}" role="tabpanel" aria-labelledby="midd-accordion-item-label-{{id}}">
        <p class="accordion-item__sub-title">Course Description</p>
        <div class="typography">
          {{item.content}}
        </div>
        {% if item.terms %}
          <p class="accordion-item__sub-title">Terms Taught</p>
          <div class="typography">
            {{item.terms}}
          </div>
        {% endif %}
        {% if item.requirements %}
          <p class="accordion-item__sub-title">Requirements</p>
          <div class="typography">
            {{item.requirements}}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>