<div class="nav-dropdown addtocal-container">
  <button aria-label="Open Add to Calendar menu" class="button button--sm button--primary button--outline addtocal__button" data-toggle-target=".{{ id }}--menu" id="{{ id }}--button">
    {% include 'partials/icon.twig' with { name: 'calendar-alt', class: 'mr-1' } %}
    Add to Calendar
    {% include 'partials/icon.twig' with { name: 'chevron-down', class: 'ml-1 toggled-flip' } %}
  </button>
  <ul class="nav-dropdown__menu nav__sublist addtocal__menu" id="{{ id }}--menu">
    {% for opt in options %}
        <li class="nav__subitem addtocal-link" data-addtocal-type="{{ opt['addtocal-type'] }}">
          <a href="{{ opt['url'] }}" target="_blank" rel="noopener" aria-label="{{ opt['aria-label'] }}" class="nav__sublink">{{ opt['label'] }}</a>
        </li>
    {% endfor %}
  </ul>
</div>
