{% set time = "11:45 AM ET" %}

<article class="d-flex" aria-labelledby="midd-event-{{ i }}-header">
  <time datetime="" class="text-center mt-1 lh-solid" aria-hidden="true">
    <span class="f3 d-block">{{item.month}}</span>
    <span class="f7 d-block">{{item.day}}</span>
  </time>
  <div class="w-100 pl-3 clearfix">
    {% if item.image %}
      <figure class="mb-2 float-md-right ml-md-3">
        <a href="">
          {% include 'partials/img.twig' with {
            name: 'event_teaser'
          } %}
        </a>
      </figure>
    {% endif %}
    <h3 class="h3" id="midd-event-{{ i }}-header">
      <a href="{{ url|default('#') }}">
        {{item.title}}
      </a>
    </h3>
    <time datetime="" class="d-block font-medium" aria-label="{{item.day}} at {{item.time}}">{{item.time}}</time>
    <dl class="mb-5 mt-2">
      <div class="mb-2">
        <dt class="d-block d-sm-inline font-semibold">Sponsored by:</dt>
        <dd class="d-inline">
          {% for item in item.sponsor %}
            <span id="{{item.class}}">{{item.name}}</span>{{not loop.last ? "," : ""}}
          {% endfor %}
        </dd>
      </div>
    </dl>
    <div class="f3 my-3 typography">
      {# {% set max_length = (i * 30) + 20 %} #}
      {% set text =
        '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
      asperiores illum quas, voluptatum atque voluptas, animi ipsam magni sit
      quo quae ut fugit. Accusantium explicabo sunt laborum? Soluta, placeat
      nisi.</p>
      <ul>
        <li>list item 1</li>
        <li>list item 2</li>
        <li>list item 3</li>
        <li>list item 4</li>
      </ul>
      <ol>
        <li>list item 1</li>
        <li>list item 2</li>
        <li>list item 3</li>
        <li>list item 4</li>
      </ol>'
      %}
      {{ item.description }}
      {# naive example of truncate event text to 100 #}
      {# {{ (text|striptags|length) > max_length
        ? (text|striptags|slice(0, max_length)) ~ '...'
        : text|striptags }} #}
    </div>
    <p class="f3 font-medium">
      {{item.location}}
    </p>
    {% if env.test or random(1) %}
      <small class="f2 text-gray">Open to the Public</small>
    {% endif %}
  </div>
</article>
