{% set id = random(1234) %}
<fieldset class="filter">
  <legend class="filter__legend">
    <button class="filter__button"
      data-toggle-target=".js-filter-{{ id }}"
      aria-expanded="true">
      {{ title|default('Filter label') }}

      {% include 'partials/icon.twig' with {
        name: 'minus',
        class: 'toggled-hide'
      } %}
      {% include 'partials/icon.twig' with {
        name: 'plus',
        class: 'toggled-show'
      } %}
    </button>
  </legend>

  <div class="filter__body js-filter-{{
    id
    }} is-toggled-hide checkboxes checkboxes--filter">
    {% for item in items %}
      <div class="checkboxes__item">
        <input type="checkbox"
          class="checkboxes__input"
          id="checkbox-item-{{ id }}-{{ loop.index }}" />
        <label for="checkbox-item-{{ id }}-{{ loop.index }}"
          class="checkboxes__label">
          {{ item.text }}
        </label>
      </div>
    {% endfor %}
  </div>
</fieldset>
