{% set labels = ['college', 'miis', 'bread-loaf', 'lang-schools', 'writers', 'schools-abroad', 'env-school'] %}

<div class="journey-modal__overlay {{class}} {{content_type}}-slide" data-hash={{hash_class}}>
  <div class="container px-0 journey-modal__overlay-container">
    <div class="col-lg-10 m-auto">
      <h2 class="journey-modal--title">{{label}}</h2>
      {% if content_type == 'video' %}
        {% include 'partials/video.twig' with {
          grid_video: true
        } %}
      {% elseif content_type == 'story' %}
        {% include 'partials/journey-modal-story.twig' %}
      {% endif %}
    </div>
    <section class="journey-modal__articles-block">
      <h2 class="articles-block__title">Related Somethings</h2>
      <ul class="d-flex flex-wrap articles-block">
        {% for i in 0..2 %}
          <li class="col-12 col-md-4">
            <article class="articles-block__article-card">
              <div class="articles-block__content">
                <span class="article-card--label label-{{random(labels)}}"></span>
                <div class="article-card--text-content">
                  <h3 class="article-card--title">Learn About Our Sustainability</h3>
                  <p class="article-card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <button class="article-card--button">Learn more
                  {% include 'partials/icon.twig' with {
                name: 'chevron-right',
                class: 'journey-modal-button--icon'
              } %}
                </button>
              </div>
            </article>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
