<section id={{name}} class="journey-section journey-section--{{name}} js-journey-section" data-section={{name}}>
  {% if image is defined %}
    <figure class="journey-section__background">
      <img src="{{ image }}" alt=""/>
    </figure>
  {% else %}
    <figure class="journey-section__background">
      <video playsinline autoplay muted loop class="journey-section__video" data-journey-video data-poster="{{poster_image}}">
        <source src="{{video}}" type="video/mp4">
        <track kind="descriptions" srclang="en" src="descriptions.vtt" default/>
      </video>
      {# <iframe src="https://www.youtube.com/embed/lPZGoYshMKQ?controls=0&autoplay=1&mute=1&playsinline=1" class="journey-section__video"></iframe> #}
      {# <div style="width: 100%; height: 100%"> <iframe frameborder="0" height="100%" width="100%" src="https://www.youtube.com/embed/W0LHTWG-UmQ?autoplay=1&mute=1&controls=0&showinfo=0&rel=0&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen allow="autoplay"></iframe>
                                    </div> #}
    </figure>
    <button aria-label="Play/Pause Animation" class="journey-video--button" data-journey-video-trigger>
      <span class="journey-video--button-pause">
        <span class="sr-only">Pause Animation</span>
        {% include 'partials/icon.twig' with {
          name: 'pause-homepage',
          class: 'homepage-button'
        } %}
      </span>
      <span class="journey-video--button-play">
        <span class="sr-only">Play Animation</span>
        {% include 'partials/icon.twig' with {
        name: 'play-homepage',
        class: 'homepage-button'
      } %}
      </span>
    </button>
  {% endif %}

  <div class="journey-section__body">
    <div class="container">
      <div class="journey-section__body-content align-{{ align }}">
        <div class="row">
          <div class="{{ align == 'center' ? 'col-10' : 'col-9 col-sm-6' }} journey-section__text">
            <h1 class="h1">
              {{ title }}
            </h1>
            {% if blurb %}
              <p>
                {{ blurb }}
              </p>
            {% endif %}
            {% if button_text %}
              <button class="journey-section__button">{{ button_text }}</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
