<div class="office-footer">
  <div class="container">
    <div class="office-footer__row">
      <div class="office-footer__col">
        <h3 class="f3 mb-2">
          {{ name }}
        </h3>
        <p class="f2">
          {{ addr }}
        </p>
      </div>

      <div class="office-footer__col">
        <h3 class="f3 mb-2">
          Contact Us
        </h3>
        <p class="f2">
          <a href="mailto:{{ email }}" class="link-underline">{{ email }}</a><br />
          <a href="tel:{{ tel }}">{{ tel.text }}</a>
        </p>
        {% include 'partials/social-links.twig' %}
      </div>

      <div class="office-footer__col">
        <h3 class="f3 mb-2">
          Office Hours
        </h3>

        <p class="f2">
          {{ hours }}
        </p>
      </div>
    </div>
  </div>
</div>
