<div class="wrmc-accordion" data-toggle-all-group>
  <div class="wrmc-accordion-toggle-links">
    <a href="#" data-toggle-open-all>open all</a>
    <a href="#" data-toggle-close-all>close all</a>
  </div>
  {% for schedule_item in wrmc_schedule_items %}

    {# ID must be unique on the page #}
    {% set id = random(1234) %}

    <div class="wrmc-accordion-item {{"now"|date('l') == day ? "is-toggled" : ""}} js-accordion-item-{{id}}">
      <h3 class="wrmc-accordion-item__title" role="tab">
        <a
            href="#midd-accordion-item-label-{{id}}"
            class="wrmc-accordion-item__link"
            data-toggle-target=".js-accordion-item-{{id}}"
            aria-expanded="false"
            aria-controls="midd-accordion-content-{{id}}"
            aria-labelledby="midd-accordion-item-label-{{id}}"
            role="button"
          >
          <span>{{schedule_item.day}}</span>

          <span class="wrmc-accordion-item-close">&ndash;</span>
          <span class="wrmc-accordion-item-open">&#43;</span>
        </a>
      </h3>

      <div class="wrmc-accordion-item__content" id="midd-accordion-content-{{id}}" role="tabpanel" aria-labelledby="midd-accordion-item-label-{{id}}">
        {% for item in schedule_item.schedule %}
          {% include 'partials/wrmc-show-teaser.twig' %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}

</div>

