
<article class="show-teaser" aria-labelledby="midd-event-{{ i }}-header">
  <div class="show-time">
    <time datetime="{{item.start_time}}" class="" aria-label="show starts at {{item.start_time}} {{item.meridiem}}">{{item.start_time}}</time><time datetime="{{item.end_time}}" class="" aria-label="show ends at {{item.end_time}} {{item.meridiem}}">-{{item.end_time}} {{item.meridiem}}</time>
  </div>
  <div class="show-details">
    <h3 id="midd-event-{{ i }}-header">
      <a href="{{ url|default('#') }}">
        {{item.title}}
      </a>
    </h3>
    {% if item.hosts %}
      <p class="show-details__hosts">
        <em>{{item.hosts}}</em>
      </p>
    {% endif %}
    {% if item.description %}
      <p class="show-details__description">
        {{item.description}}
      </p>
    {% endif %}
    <span class="show-details__genre">{{item.genre}}</span>
  </div>
</article>
