<section class="wrmc-accordion" aria-labelledby="midd-page-header-label" data-toggle-all-group>
  <div class="wrmc-accordion-toggle-links">
    <a href="#" data-toggle-open-all>open all</a>
    <a href="#" data-toggle-close-all>close all</a>
  </div>
  {% for schedule_item in wrmc_schedule_items %}

    {# ID must be unique on the page #}
    {% set id = random(1234) %}

    <div class="wrmc-accordion-item {{"now"|date('l') == schedule_item.day ? "is-toggled" : (toggle_all ? "is-toggled" : "")}} js-accordion-item-{{id}}">
      <h2 class="wrmc-accordion-item__title" role="tab">
        <a
            href="#wrmc-accordion-item-label-{{id}}"
            class="wrmc-accordion-item__link"
            data-toggle-target=".js-accordion-item-{{id}}"
            aria-expanded="{{"now"|date('l') == schedule_item.day ? "true" : "false"}}"
            aria-controls="wrmc-accordion-content-{{id}}"
            aria-labelledby="wrmc-accordion-item-label-{{id}}"
            role="button"
          >
          <span id="wrmc-accordion-item-label-{{id}}">{{schedule_item.day}}</span>

          <span class="wrmc-accordion-item-close">&ndash;</span>
          <span class="wrmc-accordion-item-open">&#43;</span>
        </a>
      </h2>

      <ul class="wrmc-accordion-item__content-list" id="midd-accordion-content-{{id}}" role="tabpanel" aria-labelledby="wrmc-accordion-item-label-{{id}}">
        {% for item in schedule_item.schedule %}
          <li class="wrmc-accordion-item__list-item">
            {% include 'partials/wrmc-show-teaser.twig' %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>

