{% set id = random(1234) %}
<article class="show-teaser {{class}}" aria-labelledby="wrmc-show-teaser-header-{{id}}" {% if role %} role={{role}} {% endif %}>
  <div class="show-time">
    <time datetime="{{item.start_time}}" class="" aria-label="show starts at {{item.start_time}} {{item.meridiem}}">{{item.start_time}}</time><time datetime="{{item.end_time}}" class="" aria-label="show ends at {{item.end_time}} {{item.meridiem}}">-{{item.end_time}} {{item.meridiem}}</time>
  </div>
  <div class="show-details">
    <a href="{{ url|default('#') }}">
      <h3 id="wrmc-show-teaser-header-{{id}}">
          {{item.title}}
      </h3>
    </a>
    {% if item.hosts %}
      <p class="show-details__hosts">
        <em>{{item.hosts}}</em>
      </p>
    {% endif %}
    {% if item.description %}
      <p class="show-details__description">
        {{item.description}}
      </p>
    {% endif %}
    <span class="show-details__genre">{{item.genre}}</span>
  </div>
</article>
